<ng-container fxLayout="column" (window:resize)="onResize($event)">
  <mat-grid-list [cols]="breakpoint" fxLayout="row"
                 rowHeight="3:4"
                 fxLayout.lt-md="column"
                 fxLayoutAlign.lt-md="center center"
                 *ngIf="favouriteAlbums.length !== 0"
  >
    <h2 class="title">Favourite albums</h2>
    <mat-grid-tile
      [colspan]="1"
      *ngFor="let lastAlbum of favouriteAlbums"
    >
      <app-album [albumProp]="lastAlbum"
                 [ngStyle.lt-md]="{width: '100%', padding: '10px'}"
                 [ngStyle.gt-xs]="{height: '100%', paddingLeft: '10%', paddingRight: '10%'}"
      ></app-album>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-list>
    <h2 class="title">Favourite tracks</h2>
    <mat-list-item class="mat-list-item"
                   *ngFor="let track of tracks"
    >
      <app-track-control class="mat-icon" [track]="track"></app-track-control>
      <div class="trackTitle"  fxLayoutAlign="space-around center">
        <span class="trackName">{{track.name}}</span>-
        <a class="author"
           *ngFor="let artist of track.artists"
           [routerLink]="'/artist/'+artist.id"
        > {{artist.name}}
        </a>
      </div>
      <mat-icon class="close" (click)="likeButtonClickHandler(track)">close</mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-paginator [length]="countOfTracks"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="getFavouriteTracks($event)">
  </mat-paginator>
</ng-container>
