<!--<div fxLayout="row">-->
<!--  <span class="header-text">/-O/\9|, Tb| top4ik :)</span>-->
<!--  <div>-->
<!--    <div class="search-container">-->
<!--      <input type="text" placeholder="Search Artist" class="search-input" #searchBox>-->
<!--      <mat-list class="" *ngIf="searchResults.length>0 && !hideResult">-->
<!--        <mat-list-item class="search-result-item" role="listitem" *ngFor="let artist of searchResults">-->
<!--          <a (click)="onResultClick()" [routerLink]="[artist.artistId, artist.artistName]">{{-->
<!--            artist.artistName }}</a>-->
<!--        </mat-list-item>-->
<!--      </mat-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<mat-toolbar color="primary">
  <div class="full-width">
    <app-search></app-search>
  </div>
</mat-toolbar>

