<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="registrationForm">
    <mat-card>
      <mat-card-title>{{ registrationForm.controls.title.value }}</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center space-evenly">
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="firstName" required/>
          <mat-error *ngIf="registrationForm.controls.firstName.touched && registrationForm.controls.firstName.invalid">
            <span *ngIf="registrationForm.controls.firstName.errors.required">This field is mandatory</span>
            <span *ngIf="registrationForm.controls.firstName.errors.minlength">Firstname must be at least 3 symbols</span>
            <span *ngIf="registrationForm.controls.firstName.errors.maxlength">Firstname must be under 50 symbols</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastName" required/>
          <mat-error *ngIf="registrationForm.controls.lastName.touched && registrationForm.controls.lastName.invalid">
            <span *ngIf="registrationForm.controls.lastName.errors.required">This field is mandatory</span>
            <span *ngIf="registrationForm.controls.lastName.errors.minlength">Lastname must be at least 3 symbols</span>
            <span *ngIf="registrationForm.controls.lastName.errors.maxlength">Lastname must be under 50 symbols</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com"/>
          <mat-error *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.invalid">
            <span *ngIf="registrationForm.controls.email.errors.required">This field is mandatory</span>
            <span *ngIf="registrationForm.controls.email.errors.email">Email is invalid</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="birthday" [matDatepicker]="picker" [(ngModel)]="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registrationForm.controls.birthday.touched && registrationForm.controls.birthday.invalid">
            <span *ngIf="registrationForm.controls.birthday.errors.required">This field is mandatory</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.controls.gender.touched && registrationForm.controls.gender.invalid">
            <span *ngIf="registrationForm.controls.gender.errors.required">This field is mandatory</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.controls.country.touched && registrationForm.controls.country.invalid">
            <span *ngIf="registrationForm.controls.country.errors.required">This field is mandatory</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"/>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Min 4 symbols; Max 50 symbols;</mat-hint>
          <mat-error *ngIf="registrationForm.controls.password.touched && registrationForm.controls.password.invalid">
            <span *ngIf="registrationForm.controls.password.errors.required">This field is mandatory</span>
            <span *ngIf="registrationForm.controls.password.errors.minLength">Password must be at least 4 symbols</span>
            <span
              *ngIf="registrationForm.controls.password.errors.maxLength">Password must be at under 50 symbols</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button id="toLogin" [routerLink]="'/login'" type="button">I already have an account</button>
        <button mat-button id="toSite" [routerLink]="'/home'" type="button">Go to main page</button>
        <button mat-raised-button
                id="register"
                color="primary"
                type="button"
                (click)="save()"
        >
          Registration
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
