<ng-container>
  <div>
    <mat-card *ngFor="let album of albums">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ album.name }}</mat-card-title>
        <mat-card-subtitle>Likes - {{ album.likes }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="album.photoUri">
      <mat-card-content>
        <p>
          {{ album.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Play</button>
        <button mat-button>Like</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-card *ngFor="let track of tracks">
<!--      <mat-card-header>-->
<!--        {{ track.type }}-->
<!--        {{ track.description }}-->
<!--        {{ track.trackText }}-->
<!--      </mat-card-header>-->
<!--      <audio [src]="track.description" preload="none"></audio>-->
      <app-track collectionId="12476"></app-track>
    </mat-card>
  </div>
  <hr/>
</ng-container>
