<ng-container>
  <p>Albums</p>
  <div fxLayout="row">
    <app-album *ngFor="let album of albums" [albumProp]="album"></app-album>
  </div>

  <mat-divider></mat-divider>
  <div>
    <p>Tracks</p>
    <mat-grid-list cols="6" rowHeight="2:3">
      <mat-grid-tile *ngFor="let track of tracks">
        <app-track [trackProp]="track"></app-track>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-paginator [length]="countOfTracks"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="getLastTracks($event)">
  </mat-paginator>
</ng-container>
