.mat-list-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author {
  color: #888888;
  font-weight: initial;
  padding: 0 0.4em;
}

.trackName {
  padding: 0 0.4em;
}

.mat-icon {
  cursor: pointer;
}

.mat-icon:hover {
  color: #555555;
  transition: .1s;
}

.trackTitle {
  padding-left: 2em;
  padding-right: 2em;
}

.favoriteRemove {
  position: absolute;
  right: 0;
  color: #be4427;
}

.favoriteAdd {
  position: absolute;
  right: 0;
  color: #555555;
}

.imageAlbum {
  background-size: cover;
  max-width: 20em;
}

.albumName {
  font-size: xxx-large;
  font-weight: normal;
}

.artistName {
  font-size: large;
  color: #616161;
}

.description div {
  font-size: large;
  padding-top: 1em;
  padding-right: 1em;
}

.descClass {
  padding-left: 5em;
}



