<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start none">
    <div>
      <img class="imageAlbum" [src]="this.albumPhotoUri"/>
    </div>
    <div fxLayout="column" class="descClass">
      <div class="albumName">{{ album.name }}</div>
      <div fxLayout="row">
        <div class="artistName" *ngFor="let artist of album.artists">
          <a class="author" [routerLink]="'/artist/'+artist.id">
            {{ artist.name }}
          </a>
        </div>
      </div>
      <div fxLayout="row" class="description">
        <div><p>Likes: {{ album.likes.length }}</p><br/></div>
        <div><p>Release date: {{ album.releaseDate | date: "dd/MM/yyyy" }}</p></div>
        <div><p>Type: {{ album.type }}</p></div>
      </div>
      <div>{{ album.description }}</div>
    </div>
  </div>
  <div>
    <mat-list>
      <h3>Tracks</h3>
      <mat-list-item class="mat-list-item"
                     *ngFor="let track of tracks"
      >
        <app-track-control class="mat-icon" [track]="track" [playList]="tracks"></app-track-control>
        <div class="trackTitle" fxLayoutAlign="space-around center">
          <span class="trackName">{{track.name}}</span>-
          <a class="author"
             *ngFor="let artist of track.artists"
             [routerLink]="'/artist/'+artist.id"
          > {{artist.name}}
          </a>
        </div>
        <mat-icon class="favoriteRemove" *ngIf="isLiked(track)" (click)="removeFromFavouriteList(track)">favorite</mat-icon>
        <mat-icon class="favoriteAdd" *ngIf="!isLiked(track)" (click)="addToFavouriteList(track)">favorite</mat-icon>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
