<mat-card [style]="this.styleForCardImage" class="albumCard">
  <mat-card-header class="header" fxLayout="column">
    <mat-card-title>{{album.name}}</mat-card-title>
    <p *ngFor="let artist of album.artists">{{ artist.name }} </p>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
  <mat-card-footer class="actions" fxLayoutAlign="space-around start">
    <mat-icon class="action" *ngIf="currentUser != null"
              [ngClass]="(isLiked)?'likeButton likedButton':'likeButton notLikedButton'"
              (click)="likeButtonClickHandler(album.id)"
    >favorite
    </mat-icon>
    <mat-icon class="action" (click)="goToAlbum()">reorder</mat-icon>

  </mat-card-footer>

</mat-card>


