.likeButton:hover {
  transition: .2s;
  cursor: pointer;
}

.likedButton {
  color: #f34521;
  cursor: pointer;
}
.likedButton:hover {
  color: darkred;
  cursor: pointer;
}

.notLikedButton {
  color: #bebebe;
  cursor: pointer;
}

.notLikedButton:hover {
  color: #888888;
  cursor: pointer;
}

.play-icon {
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.play-icon:hover {
  color: #bebebe;
  transition: .1s;
}

.albumCard {
  overflow: hidden;
  color: white;
  max-width: 15em;
  max-height: 23em;
  height: auto;
  width: auto;
  padding: 0;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;
  background-size: 100% 100%;
  opacity: 0.8;
  transition: .3s;

  mat-card-header {
    color: antiquewhite;
    p {
      color: whitesmoke;
    }

  }
}

.albumCard:hover {
  opacity: 1;
  transition: .3s;
}

div.clip {
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  margin: 0;
  padding: 1em;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.header {
  margin: -1.2em !important;
  padding: 2em 3em;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}
