<mat-card [style]="this.styleForCardImage" class="albumCard">
  <mat-card-header>
    <mat-card-title>{{album.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngFor="let artist of album.artists">{{ artist.name }} </p>
    <div class="clip">{{ album.description }}</div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-around center">
    <mat-icon *ngIf="currentUser != null"
              [ngClass]="(isLiked)?'likeButton likedButton':'likeButton notLikedButton'"
              (click)="likeButtonClickHandler(album.id)"
    >favorite
    </mat-icon>
    <button mat-raised-button (click)="goToAlbum()">Info</button>
  </mat-card-actions>

</mat-card>


