.likeButton:hover {
  color: #212121;
  transition: .2s;
  cursor: pointer;
}

.likedButton {
  color: #f34521;
  cursor: pointer;
}

.notLikedButton {
  color: gray;
  cursor: pointer;
}
.play-icon {
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.play-icon:hover {
  color: #555555;
  transition: .1s;
}
