<mat-card [style]="this.styleForCardImage" class="audioCard">
  <mat-card-header class="header">
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title><p>{{ track.name }}</p></mat-card-title>
    <mat-card-subtitle><p *ngFor="let artist of track.artists">{{ artist.name }} </p></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-around center">
    <!--    <app-track-control class="play-icon" [track]="track"></app-track-control>-->
    <!--    <mat-icon mat-mini-fab [ngClass]="(isLiked)?'likeButton likedButton':'likeButton notLikedButton'"-->
    <!--              *ngIf="currentUser != null"-->
    <!--              (click)="likeButtonClickHandler(track.id)">favorite-->
    <!--    </mat-icon>-->
  </mat-card-actions>
  <mat-card-footer class="actions" fxLayoutAlign="space-around center">
    <app-track-control class="play-icon" [track]="track"></app-track-control>
    <mat-icon mat-mini-fab [ngClass]="(isLiked)?'likeButton likedButton':'likeButton notLikedButton'"
              *ngIf="currentUser != null"
              (click)="likeButtonClickHandler(track.id)">favorite
    </mat-icon>
  </mat-card-footer>
</mat-card>
