<mat-card class="audioCard">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ track.name }}</mat-card-title>
    <mat-card-subtitle><p *ngFor="let artist of track.artists">{{ artist.name }} </p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="mat-card-image" [src]="'http://localhost:8081/img/tracks/'+track.photoUri">
  <mat-card-content>
    {{ track.description }}
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-around center">
    <app-track-control class="play-icon" [track]="track"></app-track-control>
    <mat-icon mat-mini-fab [ngClass]="(isLiked)?'likeButton likedButton':'likeButton notLikedButton'"
              *ngIf="currentUser != null"
              (click)="likeButtonClickHandler(track.id)">favorite
    </mat-icon>
  </mat-card-actions>
  <mat-card-footer class-="releaseDate">
    {{ track.releaseDate | date: 'dd/MM/yyyy' }}
  </mat-card-footer>
</mat-card>
