//.card {
//  max-width: 300px;
//  max-height: 500px;
//}

.audioCard {
    max-width: 15em;
    max-height: 25em;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-image {
  max-width: 15em;
  max-height: 15em;
}

.likeButton:hover {
  color: #212121;
  transition: .2s;
  cursor: pointer;
}

.likedButton {
  color: #f34521;
  cursor: pointer;
}

.notLikedButton {
  color: gray;
  cursor: pointer;
}
.play-icon {
  cursor: pointer;
}

.play-icon:hover {
  color: #555555;
  transition: .1s;
}

.releaseDate {
  //padding: 1rem;
  font-style: italic;
  color: #555555;
  font-weight: initial;
}






