<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ track.name }}</mat-card-title>
    <mat-card-subtitle><p *ngFor="let artist of track.artists">{{ artist.name }} </p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="mat-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    {{ track.description }}
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="currentUser != null" mat-mini-fab (click)="like(track.id)">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab>
      <app-track-control [track]="track"></app-track-control>
    </button>
  </mat-card-actions>
</mat-card>
