.audioCard {
  margin: 0;
  padding: 0;
  max-width: 15em;
  max-height: 23em;
  color: white;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;

  background-size: 100% 100%;
  opacity: 0.8;
  transition: .3s;

  p {
    opacity: 1;
  }
}

.audioCard:hover {
  opacity: 1;
  transition: .3s;
  cursor: pointer;
}


.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.likeButton:hover {
  transition: .2s;
  cursor: pointer;
}

.likedButton {
  color: #f34521;
  cursor: pointer;
}

.likedButton:hover {
  color: darkred;
  cursor: pointer;
}

.notLikedButton {
  color: #bebebe;
  cursor: pointer;
}

.notLikedButton:hover {
  color: #888888;
  cursor: pointer;
}

.play-icon {
  cursor: pointer;
}

.play-icon:hover {
  color: #555555;
  transition: .1s;
}

.releaseDate {
  //padding: 1rem;
  font-style: italic;
  color: #555555;
  font-weight: initial;
}

.actions {
  margin: 0;
  padding: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6),  rgba(0,0,0,1));
}

.header {
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 1em;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));

  p {
    color: #bebebe;
  }
}






