<ng-template [ngIf]="this.url == '/login'">
  <app-login></app-login>
</ng-template>
<ng-template [ngIf]="this.url == '/registration'">
  <app-registration></app-registration>
</ng-template>
<ng-template [ngIf]="this.url != '/registration' && this.url != '/login'">
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start">
      <mat-toolbar-row>
        <h4 *ngIf="isExpanded">YOUR LOGO</h4>
        <button mat-icon-button class="sidenav-toggle-btn" (click)="sidenav.toggle(); isExpanded = !isExpanded">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-nav-list *ngIf="isExpanded">
        <a mat-list-item [routerLink]="'/home'"> Listen music</a>
        <a mat-list-item [routerLink]="'/podcasts'"> Podcasts </a>
        <a mat-list-item [routerLink]="'/favourite'"> List of favourite music </a>
        <a mat-list-item [routerLink]="'/new-releases'"> New releases </a>
        <a mat-list-item [routerLink]="'/charts'"> Charts </a>
        <a mat-list-item [routerLink]="'/profile'"> Profile </a>
        <a mat-list-item [routerLink]="'/logout'"> Logout </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="!isExpanded">
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <app-header></app-header>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <app-player></app-player>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
