<ng-template [ngIf]="this.url == '/login'">
  <app-login></app-login>
</ng-template>
<ng-template [ngIf]="this.url == '/registration'">
  <app-registration></app-registration>
</ng-template>
<ng-template [ngIf]="this.url != '/registration' && this.url != '/login'">
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened>
      <mat-toolbar-row>
        <h4 *ngIf="isExpanded" [routerLink]="'/home'" class="title">Music platform</h4>
      </mat-toolbar-row>
      <mat-nav-list *ngIf="isExpanded" fxLayout="column" fxLayoutAlign="space-between none">
        <div>
          <mat-divider></mat-divider>
          <a class="link" mat-list-item [routerLink]="'/home'"> Listen music</a>
          <mat-divider></mat-divider>
          <a class="link" *ngIf="currentUser != null" mat-list-item [routerLink]="'/favourite'"> List of favourite music </a>
          <mat-divider></mat-divider>
          <a class="link" *ngIf="currentUser != null" mat-list-item [routerLink]="'/profile'"> Profile </a>
          <mat-divider></mat-divider>
          <a class="link" *ngIf="currentUser != null && currentUser.roles.includes('ADMIN')" mat-list-item
             [routerLink]="'/admin-menu'">
            Admin menu
          </a>
          <mat-divider></mat-divider>
        </div>
        <div>
          <a *ngIf="currentUser != null" mat-list-item (click)="logout()"> Logout </a>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
      <mat-nav-list *ngIf="!isExpanded">
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="sidenav.toggle(); isExpanded = !isExpanded">
          <mat-icon>menu</mat-icon>
        </button>
        <app-header></app-header>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <app-player></app-player>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
