<div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="openDialog({action: 'Add', item: null})"
    >
      Add new
    </button>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon class="search-icon">search</mat-icon>
      <mat-form-field>
        <input
          #input
          matInput
          (keyup)="applyFilter($event)"
        />

      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <div class="table-responsive">
      <mat-table
        matSort
        matSortActive="name"
        matSortDisableClear
        matSortDirection="desc"
        [dataSource]="tracks"
        #mytable
      >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start"><b>{{ element.name }}</b>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column"
                    fxLayoutAlign="center start">{{ element.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="releaseDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>release date</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column"
                    fxLayoutAlign="center start">{{ element.releaseDate | date:'dd-MM-yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>type</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
            {{ element.type }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="artists">
          <mat-header-cell *matHeaderCellDef>artists</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
            <p *ngFor="let artist of element.artists"><b>{{ artist.name }}</b></p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="categories">
          <mat-header-cell *matHeaderCellDef>category</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
            <p *ngFor="let category of element.categories"><b>{{ category.name }}</b><br/></p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="album">
          <mat-header-cell *matHeaderCellDef>album</mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
            <p *ngIf="element.album != null">{{ element.album.name }}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell class="right-mat-cell" *matCellDef="let element">
            <a mat-button color="accent" (click)="openDialog({action: 'Update', item: element})">Edit</a>
            |
            <a mat-button color="accent" (click)="openDialog({action: 'Delete', item: element})">Delete</a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No data
          </td>
        </tr>
      </mat-table>
    </div>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 15, 20]"
      (page)="pageSize = $event.pageSize"
    ></mat-paginator>
  </div>
</div>
